.title {
    font-size: 50px;
}

/* section {
    margin: 5rem 0;
    color: red;
} */

.col {
    width: max-content;
}

/* .centered {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
} */

.img {
    height: 60%;
    border-radius: 10px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}

p {
    margin-bottom: 0 !important;
}

.socials{
    margin-top: 10px;
    font-size: 30px;
    color: rgb(155, 155, 155);
}

